 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p>I am a programmer from Taiwan. I study MSCS in DigiPen and will be graduate in May 2019.</br></br>I am passionate about programming, and video games as well. Combining both interests, I am proud of being a game programmer and eager to work in the game industry.</br></br>Gameplay programming is my favorite. I've worked on multiple game projects as a gameplay programmer. Besides gameplay, I also have experience on engine development. My experience is all from DigiPen and we use our custom engines for our projects.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/resume/Yen-Liang, Lin Resume.pdf" class="btn btn-lg btn-outline" download>
                        <i class="fa fa-download"></i> Resume Download
                    </a>
                </div>
            </div>
        </div>
    </section>
